@import '@/styles/common/global.scss';

.section_form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  .form {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: $color_1;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    input {
      border: none;
      border-radius: 5px;
      margin-left: 10px;
      height: 25px;
      outline: none;
      padding-left: 10px;
      max-width: 50px;
      margin-top: 10px;
      display: block;
      max-width: 80%;
      margin-left: 0px;
    }
    label {
      @include styleP('small', $color_2);
    }
    button {
      margin-top: 10px;
      border: 1px solid $color_2;
      border-radius: 5px;
      padding: 5px;
      background-color: $color_2;
      color: $color_3;
      width: 100px;
      @include styleP('small', $color_3);
      &:hover {
        cursor: pointer;
      }
    }
  }
  .container_result {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 20px;

    .result {
      @include styleH('h4');
      color: $color_2;
      span {
        color: $color_1;
      }
    }
    .category_results {
      margin-top: 20px;
      p {
        @include styleP('medium', $color_2);
      }
    }
  }
}
@media (width <= $breakPoint_tablet) {
  .section_form {
    max-width: 100%;
  }
}
