@import '@/styles/common/global.scss';

.header {
  background: $color_1;
  border-radius: 15px;
  width: 99%;
  margin: 10px auto;
  box-shadow: 0px 15px 14px -5px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s cubic-bezier(0.58, 1.735, 0.295, 1);
  transition: all 0.45s ease;
  padding: 10px 0px;
  .wrapper {
    @include styleGrid('12');
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container_logo {
    display: flex;
    justify-content: left;
  }
  .container_text {
    @include styleH('h5', $color_2);
  }
  &.style_active {
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  }
}
@media (width <= $breakPoint_tablet) {
  .header {
    border-radius: 0px;
    margin: 0;
    width: 100%;
  }
}
