@import '@/styles/common/global.scss';

.main {
  position: relative;
  min-height: 100vh;
  .wrapper {
    @include styleGrid();
  }
  .container_title {
    margin-top: 100px;
    margin-bottom: 20px;
    h1 {
      @include styleH('h3', $color_2);
    }
  }
  .obj1 {
    position: absolute;
    height: 300px;
    width: 300px;
    right: 100px;
    top: 100px;
    animation: move 5s infinite;
    @keyframes move {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(10deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}
@media (width <= $breakPoint_tablet) {
  .main {
    .container_title {
      margin-top: 50px;
    }
    .obj1 {
      display: none;
    }
  }
}
